<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/stylesheets' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Navbar -->
    <%= render 'layouts/navbar' %>
    <div class='container'>
      <!-- Page Header -->
      <%= render 'layouts/header' %>
      <div class='row'>
        <!-- Body Content -->
        <div class='span9'>
            <%= yield %>
        </div>
        <!-- Sidebar -->
        <div class='span3'>
          <%= render 'layouts/sidebar' %>
        </div>
      </div>
      <!-- Page Footer -->
      <%= render 'layouts/footer' %>
    </div>
    <!-- Javascript at the bottom of the page for performance gains. -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
